<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1ed141c5-c84b-49a7-994f-080b13398221/resourceGroups/parporMobileApp/providers/Microsoft.Web/sites/parporMobileApp</ResourceId>
    <ResourceGroup>parporMobileApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://parpormobileapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>parpormobileapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>parporMobileApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$parporMobileApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:parpor.database.windows.net,1433;Initial Catalog=db_ParPorApp;User ID=superadmin;Password=Magiccoding01!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ParPorMobWebApp.Models.ApplicationDbContext, ParPorMobWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parpor.database.windows.net,1433;Initial Catalog=db_ParPorApp;User ID=superadmin;Password=Magiccoding01!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>