<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="4.0.2" targetFramework="uap10.0" />
    <package id="Microsoft.Bcl" version="1.0.168" targetFramework="uap10.0" />
    <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="uap10.0" />
    <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="uap10.0" />
    <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.0.6" targetFramework="uap10.0" />
    <package id="Newtonsoft.Json" version="10.0.3" targetFramework="uap10.0" />  
    <package id="SkiaSharp" version="1.59.2" targetFramework="uap10.0" />
    <package id="Xamarin.Forms" version="2.4.0.91020" targetFramework="uap10.0" />
	<package id="Xam.FormsPlugin.Iconize" version="1.0.10" targetFramework="uap10.0" />
	<package id="Xam.Plugin.Connectivity" version="3.0.3" targetFramework="uap10.0" />
	<package id="Xam.Plugins.Forms.CachedImageCircle" version="0.0.0.1" targetFramework="uap10.0" />
	<package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="uap10.0" />
	<package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="uap10.0" />
</packages>